*{
    padding: 0;
    margin: 0;
}

.fundo{
    background-color: black;
    height: 100vh;
    text-align: center;
}

.format-snake{
    position: absolute;
    background: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}


.format{
    color: blue;
}

h1{
    color: red;
    background-color: white;
 
}



